body{
    font-family: 'KeepCalm-Medium';
    margin: 0;
    height: 100vh;
    background-image: url('images/climb-finder-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/***********MAIN CONTENT************/
.container{
    height: 100%;
    position: relative;
}
.header-container{
    border: 1px solid black;
    /* background-color: #200e24; */
    height: 15%;
    background-color: rgba(0,0,0,1);
    /* background-color: rgba(33,15,37,.9); */
    /* background-color: rgba(103,33,45,.7); */
    /* background-color: rgba(253,214,159,.4) */

}
.header{
    color: white;
    height:95%;
}
.info-container{
    position: relative;
    height: 82%;
    top: 2%;
    overflow: hidden;
}
#map-container{
    display: inline-block;
    position: relative;
    top: 2%;
    height: 93%;
    width: 55%;
    /* background-color: rgba(10,0,0,.8); */
    border-radius: 2%;
    bottom: 3%;
    left: .5%;
}
#map-area{
    border-radius: 1%;
    margin-top:1%;
    height: 97%;
    width:97%;
    margin: 1%;
    margin-left: 1.5%;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.4),
    5px 5px 5px 0 rgba(0,0,0,.4);
    
}

.climbing-list-container{
    display: inline-block;
    position: relative;
    width: 34%;
    height: 92.7%;
    border-radius: 2%;
    /* background-color: rgba(255,255,255, 0.3); */
    left: 7%;
    top:3%;
}
.inner{
    position:absolute;
}
.climbing-list{
    border-radius: 1%;
    margin: 1%;
    height: 97%;
    width:97%;
    overflow-y: scroll;


}
.location-image{
    float: left;
    width:80px;
    height: 80px;
}
.is-closed{
    float:left;
    margin-top: 2%;
}
.driving-directions{
    border-radius: 1%;
    margin: 1%;
    height: 96%;
    width:97%;
}
.list{
    margin:3%;
    border:1px solid black;
    height:25%;
    /* background-color: rgba(33,15,37,.8); */
    background-color: rgba(0,0,0,.7);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.4),
    5px 5px 5px 0 rgba(0,0,0,.4);
    color: white;
    border-radius: 1%;
}
.list-info{
    margin:2%;
    border-radius: 1%;
}
.list h4,h5{
    display: inline-block;
    margin-left: 3%;
}
.list span{
    float:right;
    margin:5%;
}
.list-info{
    font-size: .8em;
}
.get-directions{
    float:right;
    margin-right:2%;
    border-radius: 2%;
    background-color: rgba(255,255,255, 0.1);
    color: white;
    font-size: 1em;
    padding-top:1%;
    font-family: "KeepCalm-Medium";
    box-shadow: 0 5px 5px 0 rgba(255,255,255,.4),
    5px 5px 5px 0 rgba(255,255,255,.4);

}
.get-directions:hover{
    background-color: rgba(255,255,255,.9);
    color:black;
    box-shadow: 0 5px 5px 0 rgba(221,113,37,.7),
    5px 5px 5px 0 rgba(221,113,37,.7);
}
.list-info h4{
    width: 71%;
    margin-bottom:0;
}

/* .display-directions{
    height: 100;
    width: 100vw;
    overflow: scroll;
    background-color: rgba(255,255,255,.2);
    position:relative;
  } */
.info{
    font-family: "KeepCalm-Medium";
    overflow: scroll;
    color:white;
}
.info h2,.is-closed,.hours,.address,.rating,.phone{
    display: flex;
    justify-content: center;
    margin:1%;
}
.rating{
    margin-left:auto;
    margin-right:auto;
}
.location-details{
    overflow: scroll;
    height:28%;
    background-color: rgba(0,0,0,.7);

}
.location-pic{
    display: flex;
    width: 90%;
    height: 45%;
    margin: auto;
}
  .directions, .info{
      height:100%;
      width:100%;
      font-family: sans-serif;

  }
  .list-container{
    overflow: scroll;
    height: 72%;
    width: 90%;
    margin: auto;
  }
  .start-location, .end-location{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top:1%;
    text-align: center;
    width:100%;
    height: 7%;
    text-align:center;
    /* border-bottom: 1px solid rgba(0,0,0,.7); */
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.4),
    5px 5px 5px 0 rgba(0,0,0,.4);
    /* box-shadow: 0 0 5px 0,
      0 0 5px 0; */
  }
  .end-location{
    height: 7.92%;
    top: 3.3%;
    margin: 0;
  }
  
  .a{
    margin-top:2%;
    position: relative;
    text-align:left;
    color: white;
  }
  .directions-list{
    border: 1px solid black;
    font-family:sans-serif;
    font-weight: none;
      box-shadow: 0 0 5px 0,
      0 0 5px 0;
    color:white;
    margin:2%;
  }

/******LOCATION INFORMATION START******/
.location-content{
    position: relative;
    height: 100%;
    background-color: rgba(0,0,0,.7);
  }
  .nav-list{
    height:8%;
    margin:none;
    background-color: rgba(255,255,255, 0.2);
  }
  
  .nav-list div{
    background-color: rgba(255,255,255, 0.2);
    color:white;
    text-align: center;
    width: 32.5%;
    margin-top: 0%;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    line-height: 45px;
  }
  .nav-list div:nth-child(3){
    border-right: none;
  }
  .nav-list div:hover{
    background-color: rgba(0,0,0,.0);
    color:black;
  }
  .inner-layer{
    position: absolute;
  }
  .hidden{
    visibility:hidden;
  }

  .tabClicked{
    background-color: rgba(0,0,0,0);
    color:black;
  }
/******LOCATION INFORMATION END******/

@font-face{
    font-family: 'Mountain';
    src: url(fonts/Mountain.ttf);
    font-family: 'KeepCalm-Medium';
    src: url(fonts/KeepCalm-Medium.ttf)

}
